<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="T212_Updates.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="T212_Updates.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<system.diagnostics>
		<trace autoflush="false" indentsize="4">
			<listeners>
				<add name="User" type="System.Diagnostics.TextWriterTraceListener" initializeData="D:\results.txt" />
			</listeners>
		</trace>
	</system.diagnostics>
	<userSettings>
        <T212_Updates.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshFrequency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedPie" serializeAs="String">
                <value>0</value>
            </setting>
        </T212_Updates.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <T212_Updates.Properties.Settings>
            <setting name="Trading212ApiEndpoint_Dev" serializeAs="String">
                <value>https://demo.trading212.com/api/v0/equity/</value>
            </setting>
            <setting name="Trading212ApiEndpoint_Prod" serializeAs="String">
                <value>https://live.trading212.com/api/v0/equity/</value>
            </setting>
            <setting name="UseDevelopmentApi" serializeAs="String">
                <value>False</value>
            </setting>
        </T212_Updates.Properties.Settings>
    </applicationSettings>
</configuration>